<p id="notice"><%= notice %></p>

<h1>Current Items</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Owner</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.item %></td>
        <td><%= list.quantity %></td>
        <td><%= list.owner %></td>
        <td><%= list.timestamp %></td>
        <td><%= link_to 'Show', list, class:"btn" %></td>
        <td><%= link_to 'Edit', edit_list_path(list), class:"btn" %></td>
        <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New List', new_list_path, class:"btn btn-dark" %>
