<h2>Current Items</h2>

<table class="table table-striped table-hover table-bordered text-center">
  <thead class="table-dark">
    <tr>
      <th>Item ID</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Owner</th>
      <th>User ID</th>
      <th>Timestamp</th>
      <th colspan="3"> Options</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <% if list.user == current_user %>
        <tr>
          <td><%= list.id %></td>
          <td><%= list.item %></td>
          <td><%= list.quantity %></td>
          <td><%= list.owner %></td>
          <td><%= list.user_id %></td>
          <td><%= list.timestamp %></td>
          <td><%= link_to 'Show', list, class:"btn btn-outline-secondary" %></td>
          <td><%= link_to 'Edit', edit_list_path(list), class:"btn btn-outline-dark" %></td>
          <td><%= link_to 'Delete', list, method: :delete, data: { confirm: "Do you confirm deleting #{list.item}?" }, class:"btn btn-outline-danger" %></td>
        </tr>
      <% elsif !user_signed_in? %>
        <tr>
          <td><%= list.id %></td>
          <td><%= list.item %></td>
          <td><%= list.quantity %></td>
          <td><%= list.owner %></td>
          <td><%= list.user_id %></td>
          <td><%= list.timestamp %></td>
          <td><%= link_to 'Show', list, class:"btn btn-outline-secondary" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to 'Add', new_list_path, class:"btn btn-dark" %>
<% end %>
<br/><br/>