<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @list.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @list.quantity %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @list.owner %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @list.timestamp %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
